.container-panelTryAgain {
    border: 1px solid #cacaca;
    background-color: #cacaca85;
    width: 30%;
    height: 20rem;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: 380px) {
        width: 80%;
        height: 200px;
        top: 10px;
    }

    .top-side {
        text-align: center;
        margin-top: 10%;

        p {
            font-size: 1.7rem;
        }
    }
    .bot-side {
        display: flex;
        justify-content: space-around;
        
        input {
            width: 18%;
            height: 2rem;
            // border-radius: 10%;
            font-size: 1rem;
            font-weight: bolder;

            &:hover {
                cursor: pointer;
            }
            &:active {
                background-color: black;
                color: white;
            }
        }
    }
}