@import "./settings.scss";

body {
    input{
        -webkit-appearance: none;
        background-attachment: fixed;
    }
    background-color: $bg-color;
    // background: url("../assets/pokemon-groupe.jpg") no-repeat right/cover;
}

@import "./pages/register.scss";
@import "./pages/my-types.scss";

@import "./styles-components/crad-types.scss";
@import "./styles-components/trigger.scss";
@import "./styles-components/panel-try-again.scss";