body {
    input{
        -webkit-appearance: none;
        background-attachment: fixed;
    }
    background-color: rgba(0, 0, 0, 0.821);
}

@import "./pages/register.scss";

@import "./styles-components/crad-types.scss";
@import "./styles-components/card-challenger.scss";
@import "./styles-components/trigger.scss";
@import "./styles-components/panel-try-again.scss";