body {
    input{
        -webkit-appearance: none;
        background-attachment: fixed;
    }

    background-color: darkcyan;
}

@import "./styles-components/crad-types.scss";
@import "./styles-components/card-challenger.scss";
@import "./styles-components/trigger.scss";
@import "./styles-components/panel-try-again.scss";