.container-register {
    
    h1 {
        color:  #FFD400;
        text-align: center;
        font-size: 4rem;
    }

    p {
        color: $color-1;
        font-size: 1.4rem;
        
    }
    .container-number-challenger {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            justify-content: space-around;
            width: 20%;
            align-items: center;

            select {
                border-radius: 50%; 
                height: 50px;
                width: 50px;
                font-size: 1.1rem;
                color: rgb(62, 20, 20);
                opacity: 0.7;
                background: url("../../assets/icon-pkb-64px.png") no-repeat center;
                box-shadow: 3px -3px teal;
                overflow-y: hidden;
                &:hover {
                    cursor: pointer;
                }

                option {
                    text-align: center;
                }
            }
        }
    }

    .container-input {
        display: flex;
        justify-content: center;
        border-radius: 10%;

        .input-text {
            margin-right: 20px;
        }
        
        .validate {
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .container-challenger {

        table {
            margin: auto;
            margin-top: 100px;   

            thead {

                tr {

                    th {
                        color: $color-1;
                    }
                }
            }

            tbody {

                tr {

                    td {
                        color: $color-1;

                        input {
                            width: 75%;
                            background-color: rgb(50, 50, 50);
                            color: $color-1;
                            text-align: center;
                            border: 1px solid white;
                        }

                        img {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .long-side {
                        width: 150px;
                        text-align: start;
                    }
                }
            }
        }
    }

    .container-next-page {
        text-align: center;
        
        input {
            &:hover {
                cursor: pointer;
            }
        }
    }
        
}