.container-register {
    
    h1 {
        color:  #FFD400;
        text-align: center;
    }

    p {
        color: $color-1;
    }

    .container-number-challenger {
        display: flex;
        justify-content: center;

        div {
            display: flex;
            justify-content: space-around;
            width: 15%;
            align-items: center;
            select {
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .container-input {
        display: flex;
        justify-content: center;

        .input-text {
            margin-right: 20px;
        }
        
        .validate {
            &:hover {
                cursor: pointer;
            }
        }
    }
    
    .container-challenger {

        table {
            margin: auto;
            margin-top: 100px;   

            thead {

                tr {

                    th {
                        color: $color-1;
                    }
                }
            }

            tbody {

                tr {

                    td {
                        color: $color-1;

                        input {
                            width: 75%;
                            background-color: rgb(50, 50, 50);
                            color: $color-1;
                            text-align: center;
                            border: 1px solid white;
                        }

                        img {
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                    .long-side {
                        width: 150px;
                        text-align: start;
                    }
                }
            }
        }
    }
        
}